body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
  }
  .dashboard {
    display: grid;
    grid-template-columns: 150px 1fr; /*makes two */
    grid-template-rows:150px 1fr;
  }

  /* styles for header */
  .header {
    grid-row: 1; /* Header spans the entire top row */
    grid-column: 2; /* Header takes second column */
    background-color: #ff8c00;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
  }

  /* styles for quick bar */
  .quickBar {
    grid-row: 1/span 2; /* Sidebar starts on the second row */
    grid-column: 1; /* Sidebar takes the first column */
    background-color: #484848;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  /* main section */
  .main {
    grid-row: 2; /* Main content starts on the second row */
    grid-column: 2; /* Main content takes the second column */
    
  }
    .mainContainer {
      display: grid;
      grid-template-columns: 1fr 400px;
    }
      .recentRecipe {
        display: grid;
        grid-template-rows: 30px 1fr;
        grid-gap: 40px;
      }
        .recentRecipes {
          display: grid;
          grid-template-columns: repeat(2, 1fr); /* 3 columns */
          grid-gap: 20px; /* Gap between recipe boxes */
        }
          .recipe {
            width: 300px;
            height: 200px;
            border: 1px solid #ddd;
            border-radius: 5px;
            overflow: hidden;
            position: relative;
            background-color: #f0f0f0;
          }
            .recipeImage {
              width: 80px;
              height: 100%; /* Set your desired height */
              background-size: cover;
            }
  
  .profile-picture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }
  .section {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
  }